body{

    background-color: rgb(247, 224, 224); /*cor do fundo*/
    color:rgb(230, 103, 169); /*cor da fonte*/
    font-family: Arial, Helvetica, sans-serif;
        
}

h1{
    color:rgb(173, 45, 109);
    text-align: center /*deixa no centro*/
}

h2{
    color:rgb(11, 3, 7);
    font-size:26px; /* tamanho da fonte*/
    text-align: center
}
h3{
    color:rgb(137, 21, 79);
    text-align: center
}
h4{
    color:rgb(173, 45, 109);
    text-align: center;
    font-size:25px;
}
h6{
    font-size: 10px;
    color:rgb(66, 28, 47);
    text-align: center
}
p{

    font-size: 20px;
    text-align: center;
    background-color:  rgb(247, 224, 224);
    width: 80%;
    padding: 30px /*em cima */ 10px;
    border-radius:10px; /*deixa redondo as bordas*/
    border: 1px solid #8a1e6d;
    margin: 0 auto;
}

img{
    border-radius: 10px;
    height: 250px; /*altura da imagem*/
   display: block;
   text-align: center;
   margin: 7px auto; 
}

a{
    display: block;
    text-align: center;
    color:rgb(173, 45, 109);
    text-decoration: none;
}

#tipo{
    font-size:26px;
    color:rgb(173, 45, 109);
}

#outras{
    background-color: rgb(157, 110, 135);
    margin: 5px auto; /*centralizar o elemento*/
    padding: 5px /*em cima */ 5px;
}